form {
    margin-top: 2rem;
}
label {
    margin-right: 15px;
    font-size: x-large;
    font-weight: bold;
}
select {
    margin-right: 30px;
    padding: 0.1rem;
    width: 20%;
    height: 35px;
    font-size: large;
    background-color: #233659;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
input {
    margin-right: 60px;
    font-size: large;
    height: 30px;
}
button {
    margin-right: 30px;
    width: 10%;
    height: 30px;
    font-size:medium;
    background-color: #666666;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}